{% extends "index.html" %} 

{% block content %}

    <section>
        <h2 class="text-xl mb-2"> New York Hospital Complications and Deaths: A CMS Dataset </h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">FacilityName</th>
                    <th class="px-4 py-2">CityTown</th>
                    <th class="px-4 py-2">MeasureID</th>
                    <th class="px-4 py-2">MeasureName</th>
                    <th class="px-4 py-2">ComparedToNational</th>
                    <th class="px-4 py-2">Denominator</th>
                    <th class="px-4 py-2">Score</th>
                    <th class="px-4 py-2">LowerEnd</th>
                    <th class="px-4 py-2">HigherEnd</th>

                </tr>
            </thead>
            <tbody>
                {% for data in data.values %}
                <tr>
                    <td class="border px-4 py-2">{{ data[1] }}</td>
                    <td class="border px-4 py-2">{{ data[3] }}</td>
                    <td class="border px-4 py-2">{{ data[8] }}</td>
                    <td class="border px-4 py-2">{{ data[9] }}</td>
                    <td class="border px-4 py-2">{{ data[10] }}</td>
                    <td class="border px-4 py-2">{{ data[11] }}</td>
                    <td class="border px-4 py-2">{{ data[12] }}</td>
                    <td class="border px-4 py-2">{{ data[13] }}</td>
                    <td class="border px-4 py-2">{{ data[14] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}